
.box {
    background-color: aqua;
    border: 1px dashed black;

}

header {


}

:root {
    --primary-color:#2C3E50;
    --secondary-color: #1ABC9C;
}

.bg-dark-color {
    background-color: var(--primary-color);
    
}

.bg-light-color {
    background-color: var(--secondary-color);
}

